<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body{
        background-color: #192329;
      }
      h1,p{
          color: White;
          text-align: center;
      }
      h1{
        background-color:#559c95 ;
        border-radius: 3px;
        padding: 7px;
        color: black;
      }
      p{
        font-size: x-large;
      }
      .card1 {
            width: 30%;
            cursor: pointer;
            position:relative;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 2%;
            transition: transform .2s;
        }
        .card1:hover{
          transform: scale(1.1);
        }
        a{
          font-size: 25px;
          font-weight: bold;
          color: black;
          text-decoration: none;
        }
        a:hover{
          color: black;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
          width: 55px;
          height: 55px;
        }


      </style>
  </head>
  <body>
    <h1> Alumni Management System </h1>
    <p>Welcome to Alumni Management System</p>
    <br>

    <div class="container">

      <a class="card1" href="show_alumni" style="background-color:  #559c95;">
       
             <p>&nbsp;</p>
                
                  <img src="https://sat02pap001files.storage.live.com/y4mm1VT9vbMiVBBwJa-7O5XumPswob6r4GnllQsMqOYF3TX8lek-uGE7desv3SIGRqHsNC5BxOe6WN5JDcV30H4yFd2NxQnT3juxMZrwmEQ2reLbNh8p_GbU-7-51wrJdm5PFpDR8rb6OlZ6CBADPBDay8z6yNZgMKlDR4CAPuPY80rZFJoLLSlzZ8LDMkbVyPf?width=512&height=512&cropmode=none">
                  &nbsp;
                  Alumni
             
         
      </a>
  
      <a class="card1" href="show_college" style="background-color:  #559c95;">

          <p>&nbsp;</p>
                
                  <img src="https://sat02pap001files.storage.live.com/y4m0G6dA6TdVKZoRuy847l0E-BMOeWpM4_M9SopS61fs78d6NG6MjEaiFIwLbt93_tsRXD9CD0azTsYHrMKQy8XJ-BvJJgXgOOZhV7er6Bb6Ex4rLdhCzv-554GH_zIYxuGN2cFI1KmUl6PeiriimjNQHpIYW3_VbjiQayyNiO21ktDkkv1oe-fVPSaMzmcAAL_?width=512&height=512&cropmode=none">
                  &nbsp;
                  Colleges
             
      
      </a>

      <a class="card1" href="show_course" style="background-color:  #559c95;">
          <p>&nbsp;</p>
                 
                  <img src="https://sat02pap001files.storage.live.com/y4m7IXALwwXQhtf69y49dHdV60rNzI9lS4-6gilq8ubQxUJ2ZgJs0BIps8R2kmxo2HSCxpN2GVQuAnUcGtgqV8vACkt_VCq9-EAWnuktiNWItArJMlKZXPHt1VfqJaaX2QKiMKdeoQfMwr_oJXk7DbYzhltX4ArbCtmlu87GA-D1qW7l1ZD65VfSMZkDTDOpBMQ?width=512&height=512&cropmode=none">
                  &nbsp;
                  Courses
    
      </a>

      
    </div>

    <br>
    <div class="container">

      
  
      <a class="card1" href="search" style="background-color:  #559c95;">

          <p>&nbsp;</p>
                
                  <img src="https://sat02pap001files.storage.live.com/y4m1gVe3wNTkKQlJTwZp5REvT5JLZ88DxM2yfDJ2GovaDh6wAHWb4F7TvPYdc5Z7HwEgKa8ZfXWrhdy2V1qyDeSWIr-38t9KZ3heWrOQPWnmA0f-BeZUGjMz-ed3Ecl67qZjXi72guPKJGMbBlQmR5xPSognrYBLF4X8s8brMTqlSyI1pelKIIVSiKGM_A73hz1?width=512&height=512&cropmode=none">
                  &nbsp;
                  Search Alumni
             
      
      </a>

      

    </div>
    <br>


    <div class="container">

      <a class="card1" href="/show_alumni/add" style="background-color:  #559c95;">
      
          <p>&nbsp;</p>
                 
                  <img src="https://sat02pap001files.storage.live.com/y4mR7HEvNNY5IrV2fOR4xKMMNw_9mqSfLwTqNmumm2nrZFA32Viby3CSYu2Tawu9E5In4MsgNGSL0qaOtLC6qY0oLZy83fbSkqGjRXFNEJqbNnstq6wn3_5Ic9m0QGTNVz3dAhmrUhAFKuf0VuScJnQ4Kouew6zJ7Gdg7Pn9SvY8n_XZG2dVDc55tsL5oSxzm-w?width=512&height=512&cropmode=none">
                  &nbsp;
                  Add New Alumni
       
      </a>
      
      <a class="card1" href="/show_college/add" style="background-color:  #559c95;">
       
          <p>&nbsp;</p>
        
            <img src="https://sat02pap001files.storage.live.com/y4mvJmqcwZMWjlF7d-0tSj8cOYv0WbQ3F4qAdMB6_gGdIfcaif8MtJT1jV6so9nvVMegU04-6I7MZVldRYYDQ7LWnX-UWIDJNwuMHd8XPx7msNJzgOxk48JocbO-zVo4TVGp1nG_AJkbQ3HOKdsSTUQBzpCOFoec5H62VV00IHOz-kmVOSk_ECjeFebELiZWtji?width=512&height=512&cropmode=none">
            &nbsp;
            Add New College
      
      </a>
      
      <a class="card1" href="/show_course/add" style="background-color:  #559c95;">
    
          <p>&nbsp;</p>
              
            
                  <img src="https://sat02pap001files.storage.live.com/y4m6Im79xJNU5BO5Lz4ot9z-kpiGOJXTlrM36qqAzbbqK77eLoyo_nl5y9WrqFL8kPejlD3izVphFauvigq4bouGMQMu6_w5dHu_QsKSwxDAU2LDPyFROSLHLt0hAHGX3YIXceuWQ1Fh0lxRSSBnjQwya1E1_e4UDumcaehfyjFI6nRHlzinGlyKmfqEgQZJODc?width=512&height=512&cropmode=none">
                  &nbsp;
                  Add New Course
       
      </a>

      
    </div>
<br>

    

  </body>
</html>






